body {
    background: #f4fafb;
    font-family: "Roboto", sans-serif;
}



.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);

}

header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;



}

.search-input {
    background-color: #d4e8eb;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px;
    width: 75%;
    border-radius: 6px;
}

.search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #79c2d0;
    color: white;
    border: none;
    padding: 20px 45px;
    line-height: 1;
    border-radius: 5px;
}

main {
    padding: 30px 0;
}

.current-temperature {
    display: flex;


}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}

.current-details {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.current-details strong {
    color: #f65282;
}

.icon {

    width: 40px;
    height: 40px;
}

.current-temperature-value {
    font-size: 80px;
    font-weight: bold;

}

.current-temperature-unit {
    font-size: 28px;
    top: 10px;
    position: relative;

}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;

    color: rgba(39, 33, 66, 0.4);
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.weather-forecast-date {
    font-size: 16 px;
    opacity: 0.5;

}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 16px;
}

.weather-forecast-icon {
    width: 45px;
    display: block;
    margin: 0 auto;
}